root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
tab_width = 4

ktlint_standard = enable # Disable all rules from the `standard` rule set provided by KtLint
ktlint_standard_final-newline = enable # Enables the `final-newline` rule in the `standard` rule set provided by KtLint
ktlint_experimental = enable # Enable rules marked as experimental for all rule sets that are enabled
ktlint_standard_some-experimental-rule = enable # Disables the (experimental) `some-experimental-rule` in the `standard` rule set provided by KtLint
ktlint_custom-rule-set = enable # Enable all rules in the `custom-rule-set` rule set (not provided by KtLint)
ktlint_custom-rule-set_custom-rule = enable # Disables the `custom-rule` rule in the `custom-rule-set` rule set (not provided by KtLint)
# java.* 패키지를 의존하는 경우  IntelliJ의 Orgarnize Import 기능으로는 알파벳 순서대로 import 구문을 정렬할 수 없다.
# 이는 ktlint의 import-ordering 규칙과 맞지 않는다.
[*.kt]
ktlint_standard_function-naming = disabled